<h1>PrimeNG</h1>

Calendario por defecto: 
<p-calendar></p-calendar> <br />

Calendario Date Format: 
<p-calendar dateFormat="yy-mm-dd"></p-calendar> <br /><br />

<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">
        <i class="pi pi-user" style="line-height: 1.25;"></i>
    </span>
    <input type="text" pInputText placeholder="Username">
</div>

<br /><br />

<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">$</span>
    <input type="text" pInputText placeholder="Price">   
    <span class="ui-inputgroup-addon">.00</span>      
</div>

<br /><br />

<div class="ui-inputgroup">
    <button pButton type="button" label="Search"></button>
    <input type="text" pInputText placeholder="Keyword">         
</div>


<router-outlet></router-outlet>